.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  /* background: url("./assets/bg.png"); */
  background-color: var(--color-blue);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  /* flex: 1; */
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img {
  width: 50%;
}

.glenford {
  width: 40%;
}

.custom__button {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button:hover {
  color: var(--color-golden);
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__raleway {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 200;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.humble-baron {
  font-family: var(--font-base);
}

.tolley-house {
  font-family: var(--font-base);
}

.spoon__img {
  width: 45px;
}

.carousel-status {
  visibility: hidden;
}

/* max screen size styles */
@media (max-width: 2240px) {
  .app__wrapper_img img {
    width: 70% !important;
  }
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .humble-baron-logo img {
    margin-left: 880px;
    margin-top: -300px;
  }

  .tolley-house-img img {
    margin-left: 840px;
    margin-top: -280px;
  }

  .tolley-house-p p {
    margin-left: -55px !important;
  }
}

/* ipad screens */
@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }

  .subtitle h1 {
    margin-left: 20px;
  }

  .nashwood-inc {
    margin-left: 15px !important;
  }

  .longest-bar {
    margin-left: 100px;
  }

  .humble-baron-logo {
    margin-left: 255px;
  }

  .humble-baron-logo img {
    width: 252px;
  }

  .tolley-house-p {
    margin-left: 100px;
  }

  .tolley-house {
    margin-left: 250px;
    margin-top: 50px;
  }

  .tolley-house-img {
    margin-left: 220px;
    width: 550px;
  }

  .hospitality {
    margin-left: 100px;
  }

  .real-estate-pics img {
    width: 450px;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }

  .humble-baron {
    align-content: center;
    justify-content: center;
    display: flex;
  }

  .humble-baron p {
    display: none;
  }

  .humble-baron-logo {
    width: 50%;
    margin-left: 100px;
    margin-top: 30px;
  }

  .tolley-house {
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
  }

  .tolley-house-img {
    width: 500px !important;
    margin-left: 80px;
    margin-top: -90px;
  }

  .longest-bar {
    display: flex !important;
    flex: 1 !important;
    width: 100% !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin-left: 150px;
    margin-top: -10px;
  }

  .tolley-house-p {
    display: flex !important;
    flex: 1 !important;
    width: 100% !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin-left: 40px;
    margin-top: 10px !important;
  }

  .hospitality {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
  }

  .real-estate-pics img {
    padding-bottom: 80px;
    width: 400px !important;
  }

  .p__raleway {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
    font-family: var(--font-base);
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }

  .app__wrapper_img {
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
  }

  .header-imgs {
    display: flex;
    flex-direction: column !important;
    width: 30%;
    gap: 2px;
  }

  .glenford {
    width: 100%;
  }

  .nashwood-inc {
    margin-left: 10px !important;
    justify-content: center;
    align-items: center;
  }

  .subtitle h1 {
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    font-size: 25px !important;
  }
  /* .app__wrapper_img {
    flex-direction: column;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
    display: none;
  } */
}
